@font-face {
  font-family: "Studio Feixen Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/StudioFeixenSans-Regular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Studio Feixen Sans", "sans-seirf";
  color: #272727;
}
